<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>CVSS v4.0 calculator – DRAFT</title>
        <script src="https://unpkg.com/vue@3.2.45/dist/vue.global.prod.js"></script>
        <script src="cvss_config.js?v=1"></script>
        <script src="cvss_details.js?v=1"></script>
        <script src="cvss_lookup.js?v=1"></script>
        <link rel="stylesheet" href="https://unpkg.com/spectre.css@0.5.9/dist/spectre.min.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css@0.5.9/dist/spectre-exp.min.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css@0.5.9/dist/spectre-icons.min.css">
        <link rel="stylesheet" href="styles.css">
        <link rel="icon" href="data:,">
    </head>
    <body>
        <div id="app" class="container">

            <h4>CVSS v4.0 calculator – DRAFT</h4>
            <mark class="tooltip c-hand" data-tooltip="Click vector to copy to clipboard" @click="copyVector">
                {{ vector }}
            </mark>
            <button class="btn btn-sm ml-2" @click="onReset()">Reset</button>
            <h5>
                <span class="tooltip tooltip-right c-hand"
                      :data-tooltip="showDetails ? 'Hide details' : 'Show details'"
                      @click="showDetails = !showDetails">
                    CVSS v4.0 Score:
                    <span :class="baseScoreClass(qualScore)">{{ baseScore }} / {{ qualScore }}</span>
                    <span v-if="!showDetails"> ⊕</span>
                    <span v-else> ⊖</span>
                </span>
            </h5>
            <blockquote v-if="showDetails">
                <sup class="mb-2"><i>Macro vector: {{ macroVector }}</i></sup>
                <div v-for="(index, description) in cvssMacroVectorDetailsData">
                    {{ description }}: {{ cvssMacroVectorValuesData[macroVector[index]] }}
                </div>
            </blockquote>
            <div class="columns">
                <div class="column col-auto mr-5" v-for="columnValues in columns">
                    <div class="mb-4" v-for="score in columnValues">
                        <h5>{{ score }}</h5>
                        <div v-for="(metricData, metric) in cvssConfigData[score]">
                            <span v-if="metricData.tooltip"><abbr :title="metricData.tooltip">{{ metric }}</abbr>: </span>
                            <span v-else>{{ metric }}: </span>
                            <br class="show-md">
                            <div class="btn-group">
                                <button v-for="(optionData, option) in metricData.options"
                                        :class="buttonClass(metricData.selected == optionData.value)"
                                        @click="onButton(metricData, optionData.value)">
                                    <abbr v-if="optionData.tooltip" :title="optionData.tooltip">{{ option }}</abbr>
                                    <span v-else>{{ option }}</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>

<script src="app.js?v=1"></script>
