<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>CVSS v4.0 calculator – DRAFT</title>
        <script src="https://unpkg.com/vue@3.2.45/dist/vue.global.prod.js"></script>
        <script src="cvss_config.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/spectre.css@0.5.9/dist/spectre.min.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css@0.5.9/dist/spectre-exp.min.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css@0.5.9/dist/spectre-icons.min.css">
        <link rel="icon" href="data:,">
    </head>
    <body>
        <div id="app" class="container">

            <h4 class="mt-2">CVSS v4.0 calculator – DRAFT</h4>
            <mark class="tooltip c-hand" data-tooltip="Click vector to copy to clipboard" @click="copyVector">{{ vector }}</mark>
            <div class="columns">
                <div class="column col-auto m-2" v-for="columnValues in [['Base Score', 'Threat Score'], ['Environmental Score', 'Supplemental Metrics']]">
                    <div v-for="score in columnValues">
                        <h5 class="mt-2 pt-2">{{ score }}</h5>
                        <div v-for="(metricData, metric) in cvssConfigData[score]">
                            <span v-if="metricData.tooltip"><abbr :title="metricData.tooltip">{{ metric }}</abbr>: </span>
                            <span v-else>{{ metric }}: </span>
                            <div class="btn-group mb-1">
                                <button v-for="(optionData, option) in metricData.options"
                                        :class="buttonClass(metricData.selected == optionData.value)"
                                        @click="metricData.selected = optionData.value">
                                    <abbr v-if="optionData.tooltip" :title="optionData.tooltip">{{ option }}</abbr>
                                    <span v-else>{{ option }}</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>

<script>
const app = Vue.createApp({
    data() {
        return {
            cvssConfigData: cvssConfig,
        };
    },
    methods: {
        buttonClass(isPrimary) {
            if(isPrimary) {
                return "btn btn-sm btn-primary"
            }
            else {
                return "btn btn-sm"
            }
        },
        copyVector() {
            navigator.clipboard.writeText(this.vector)
        },
    },
    computed: {
        vector() {
            value = "CVSS:4.0"
            for(score in this.cvssConfigData) {
                scoreData = this.cvssConfigData[score]
                for(metric in scoreData) {
                    metricData = scoreData[metric]
                    if(metricData.selected != "X") {
                        value = value.concat("/" + metricData.short + ":" + metricData.selected)
                    }
                }
            }
            return value
        }
    },
});

app.mount("#app");
</script>
